*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    background-color : rgb(231, 231, 231);
}

.main-container{
    width : 50%;
    margin : auto;
    position : relative;
    top : 50px;
}

.add-item-container{
    background-color :  #226089;
    padding : 25px 15px 35px;
    position: relative;
    display : flex;
    flex-direction: column;
}

.add-item-container h2{
    color : white;
    text-align : center;
    padding : 0px 0px 15px;
}

.add-item-container input,.add-item-container button,.display-list-container button{
    font-size : 1rem;
    outline : none;
    border : none;
    text-align: center;
}

.error-text{
    color : rgb(218, 59, 32);
    align-self: center;
    padding : 5px;
    font-size : 1rem;
    opacity: 0;
}

.error-text.showing{
    opacity: 1;
}

button{
    cursor : pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -user-select:none;
}

.add-item-container input{
    width : 100%;
    padding : 2px;
}

.add-item-container button{
    position: relative;
    top : 15px;
    align-self: center;
    width : 15%;
}

.display-list-container{
    position : relative;
    top : 25px;
    background-color: #facf5a;
    display: flex;
    flex-direction: column;
    padding : 25px 15px 65px;
}

.display-list-container h2{
    color: white;
    align-self: center;
    padding: 0px 0px 15px;
}

.clear-list-button{
    position : absolute;
    bottom : 3%;
    align-self: center;
    width : 15%;
}

.grocery-list-container{
    width : 100%;
}

.new-grocery-item{
    background-color : #e4b639;
    margin-top : 8px;
    display : flex;
    justify-content: space-between;
}

.new-grocery-item h3{
    padding : 0px 5px;
    font-size : 1rem;
    color : snow;
}

.delete-button {
    background : transparent;
    padding : 0px 5px;
    color : white;
}

.delete-button .fa{
    pointer-events: none;
}